@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
.box{
	padding: 30px;
}

#title {
	font-weight: bold;
}

#description {
	font-style: italic;
	line-height: 85%;
}

#price{
	padding-right: 20px;
}
  .menu{
	

	  display: flex;
  }
  #navbar {
	position: sticky;
	top: 0;

	z-index: 100; /* this is optional and should be different for every project */
  background-color: black;
  padding: 10px;
  }

  #review {
	 text-decoration: underline;
  }

  .butt {

	  color: rgb(0, 0, 0);
	padding-top: 5px;
	padding-left: 5px;
	  text-transform: lowercase;
	  font-size: 20px;
  }

  #navbar a {
	color: rgb(190, 190, 190);
	padding: 5px;
	min-width: 50px;

  }
  
  .sticky-wrapper {
	position: relative;
	height: 3rem; /* We need to change this value */
  }
  
  .sticky .sticky-inner {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
  }


  
 #order {
	 font-size: 30px;
	 font-family: 'IM Fell English', serif;
 }
  
 #navbar {
	 font-size: 16px;

	 font-family: 'Old Standard TT';
 }

.her {
	font-size: 30px;
	font-family: 'Old Standard TT';
}

body {
	font-family: 'Old Standard TT';
}